Source: sp-endurance
Section: devel
Priority: optional
Maintainer: Eero Tamminen <eero.tamminen@nokia.com>
Build-Depends: debhelper (>= 5.0.0), libxres-dev
Standards-Version: 3.8.0

Package: sp-endurance
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, lzop, sysinfoclient, sp-smaps-measure
Recommends: x11-utils
Description: Endurance measument tools
 Endurance measurement tools save system and process information from /proc
 and other places; the memory, file descriptors, X resources, flash space,
 errors in syslog etc.  The data can be later used to see logged application
 errors, memory usage and resource leakages and leakage trends under
 long time use-case.

Package: sp-endurance-postproc
Architecture: all
Depends: ${misc:Depends}, python, lzop, perl, gnuplot-nox, imagemagick
Recommends: sp-smaps-visualize, python-psyco
Description: Postprocessing for endurance data
 Postprocessing scripts to parse and generate a report from the endurance
 measurement data.  The report lists logged errors and resource usage
 between the data sets.  This can be used to find reasons (leakage)
 explaining why the device stops working when used for a longer time.
 It also provides error parser for the syslog files.

Package: sp-endurance-tests
Priority: extra
Architecture: any
Depends: ${misc:Depends}, ci-testing, sp-endurance (=${binary:Version}), sp-endurance-postproc (=${binary:Version})
XB-Maemo-CI-Packages: sp-endurance, sp-endurance-postproc
XB-Maemo-CI-Stage: fast, staging, acceptance
Description: CI tests for sp-endurance
 CI tests for sp-endurance
